<div class="container-fluid">
<form  action="/employees"  #userForm = "ngForm"  (ngSubmit)="onSubmit()">

   
    

    <div class="form-group">
  <label for="name" >Employee Name : </label>
    <input type="text" id="name"  name="Employeename" maxlength="3" veclass="form-control" [(ngModel)]="userModel.name" required ><br>
</div>
<div class="form-group">
    <label for="location" >Location : </label>
    <select id="location"   class="form-control" name="Location" [(ngModel)]="userModel.location" required>
        <option value="">Select Location</option>
        <option value="Bangalore" maxlength="3">Bangalore</option>
        <option value="Chennai"maxlength="3" >Chennai</option>
        <option value="Pune" maxlength="3" >Pune</option>
        <option value="Hyderabad" maxlength="3">Hyderabad</option>
      </select><br>
    </div>
    <div class="form-group">

    
    <label for="email">Email : </label>
      <input type="text" id="email"  class="form-control" name="Email" [(ngModel)]="userModel.email" required><br>
      </div>
      <div class="form-group">
      <label for="mobile">Mobile : </label>
      <input type="number" maxlength="10" id=mobile class="form-control" name="Mobile" [(ngModel)]="userModel.mobile" required><br>
      </div>
      <div class="form-group">
      <button  type="submit" id="add"  >Submit</button>
      
    </div>

</form>

</div>
